<head>
    <title>Docking</title>
   </head>
   <center> <h1>Interfaz para acoplamientos Proteína-Ligando usando autodock y Chimera</h1></center>
      <BODY bgcolor="#f3fafc" text="black">
        
  
   <br> <br>
      <p> 
     Por favor inserte el ligando y la proteìna
     <p> 
      Si quiere tener una prueba del sistema presione 
     </p>
   
  
      <br> <br> 
      </p>
      <p></p>
      <center><table border="1">
      
      
        
      <tr>
      <td><center>Insertar Proteìna </center></td>
      <td><center>Proteìna-ligando</center></td>
      <td><center>Inserar Ligando</center></td>
  
      </tr>
  
      <main class=" container ">
  
        
        <img src="pgif2.gif" alt="" width="500"> 
        <p></p>
        <br><br>
      <tr>
      <td></td>
      <td> </td>
      <td></td>
      </tr>
  
     
       
      </main>
      
      
  
      
      
      </table></center>
     
     
          

                
      </BODY>