   <head>
      <title>Docking</title>
      </head>
      <center> <h1>JUST IMAGINE: A Web Interface for Protein-Ligand Docking</h1></center>
         <BODY bgcolor="#f3fafc" text="black"> <div style="margin: 100px;">

         
   
      <br> <br>
         <p> 
		 Please insert the protein and ligand files
      <p> 
         If you would like to try the software, click this button
      </p>
      
   
         <br> <br> 
         </p>
         <p></p>
         <center><table border="1">
         
         
         
         <tr>
         <td><center>Insert Protein</center></td>
         <td><center>Protein-Ligand</center></td>
         <td><center>Insert Ligand</center></td>
   
         </tr>
   
         <main class=" container ">
   
         
         <img src="pgif2.gif" alt="" width="500"> 
         <p></p>
         <br><br>

         <tr>
      <form action="#" method="post" enctype="application/x-www-form-urlencoded">
         <td><label for="pdb1">Insert P</label><br> 
         <input type="file" name="pdb1" id="pdb1" required> 
         </td>
         <td> 
        
         </td>
         <td>
            <label for="pdb1">Insert P</label><br> 
         <input type="file" name="pdb1" id="pdb1" required> 
             
         </td>
         <input type="submit" value="login"> 

      </form><br>

         </tr>
 

   
      
         
         </main>
         
         
   
         
         
         </table></center>
      
         <br>
         <p>Here is an example using dihydrofolate reductase (1ra2) and tetrahydrofolate</p><br>
         <button type="button" onclick="/path/to/name.sh">Click Me!</button>
         <form action="" method="" enctype=""></form>
       
         <input type="submit" value="login">  
            

                  
      </div></BODY>
