 <head>
  <title>JUST IMAGINE</title>
 </head>
 <center> <h1>Interfaz para acoplamientos Proteína-Ligando usando autodock y Chimera</h1></center>
    <BODY bgcolor="#f3fafc" text="black">
      

 <br> <br>
    <p> 
   JUST IMAGINE A PROTEIN AND LIGAND
   <p> 
    posteriormente se dará una pequeña introducción de la interfaz 
   </p>
 

    <br> <br> 
    </p>
    <p></p>
    <center><table border="1">
    
    
      
    <tr>
    <td><center>Proteìna </center></td>
    <td><center>Proteìna-ligando</center></td>
    <td><center>Ligando</center></td>

    </tr>

    <main class=" container ">

      
      <img src="pgif2.gif" alt="" width="500"> 
      <p></p>
      <br><br>
    <tr>
    <td><img src="proteina.jpeg" alt="" width="400"></td>
    <td><img src="pgif2.gif" alt="" width="400"> </td>
    <td><img src="ligando1.jpeg" alt="" width="400"></td>
    </tr>

   
     
    </main>
    
    

    
    
    </table></center>
   
    <br>
    <p>  
    <h1><font color="red" face="comic sans">Ducking</font></h1>
    <p>Apretar aquì para correr el <a href=""> Ducking</a></p>
    <h6>Contraseña (presente del verbo dimicular): </h6>
  
   </p>
    
                                                                                                                                                                                                                                                                                                                                                                                                                                 
              
    </BODY>