 <head>
  <title>JUST IMAGINE</title>
 </head>
 <center> <h1>justIMAGINE: A Web Interface for Protein-Ligand Docking</h1></center>
    <BODY bgcolor="#f3fafc" text="black"><div style="margin:50px;"> 
      

 <br> <br>
   
   <p> 
     Molecular docking has been widely studied because it seeks to predict the energies and binding modes between ligand and protein, with applications in drug development, the study of diseases, protein design, etc. In the present work, the aim is to automate the docking results through an intuitive and flexible interface, with a view to virtual screening, such that predictive systems are made more efficient, giving a shorter response time. That is to say, it is not necessary to install different packages, nor to intervene in each of the intermediate processes, such as the addition of Gasteiger and Kollman charges, and the removal of external molecules to the system, giving a more efficient response time.  
   </p><br>
   <p> 
	  A coupling of dihydrofolate reductase (1ra2) and tetrahydrofolate is shown below
 

    <br> <br> 
    </p>
    <p></p>
    <center><table border="1">
    
    
      
    <tr>
    <td><center>Protein </center></td>
    <td><center>Protein-Ligand</center></td>
    <td><center>Ligand</center></td>

    </tr>

    <main class=" container ">

      
      <img src="pgif2.gif" alt="" width="500"> 
      <p></p>
      <br><br>
    <tr>
    <td><img src="proteina.jpeg" alt="Protein" width="400"></td>
    <td><img src="pgif2.gif" alt="3D Image" width="400"> </td>
    <td><img src="ligando1.jpeg" alt="Ligand" width="400"></td>
    </tr>

   
     
    </main>
    
    

    
    
    </table></center>
   
    <br>
    <p>  
    <h1><font color="red" face="comic sans">Docking</font></h1>
    <p>Apretar aquì para correr el <a href="https://athas1.github.io/A/CGO1/templates/index.html"> DOcking</a></p>
    
  
   </p>
    
                                                                                                                                                                                                                                                                                                                                                                                                                                 
              
  </div></BODY>
